aside.aside.w100
	h2 Меню для клиента
	.aside_mob
		.aside__top.df.aic.jcsb
			h2 Меню
			button.aside__close
				img(src="img/close.svg" alt="Close")
		ul.aside__switch.df.aic.jcsb
			li.w100.li_active
				a(href="#").w100 Клиент
			li.w100
				a(href="#").w100 Продавец
			li.w100
				a(href="#").w100 Партнёр
	ul
		li.li_active
			a(href="client-main.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Главная
		li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Мой профиль
		li
			a(href="client-info.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Информация о площадке
		//- li
			a(href="client-account.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Счёт CU
		//- li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Персональный счет
	ul
		li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Каталог
		li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Новые магазины
		li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Все магазины
		li
			a(href="client-my-order.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Мои заказы
		li
			a(href="client-addresses.html")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Мои адреса
	//- ul
		li
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.7" height="10" viewBox="0 0 5.7 10"><path d="M16.3,11l-5,5-.7-.7L14.9,11,10.6,6.7l.7-.7Z" transform="translate(-10.6 -6)" fill="#aaa"/></svg>
				span Реферальная ссылка