footer.footer
	.wrapper
		a(href="#").df.aic
			img(src="img/chat.svg" alt="Chat")
			span Связь с площадкой RTB

<!-- jQuery JS -->
script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

<!-- slick JS -->
script(src="js/slick.min.js")

<!-- airDatapicker JS -->
script(src="airDatapicker/air-datepicker.js")

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")































	