doctype html
html(lang="ru")
	head
		title Site was developed by Vlas

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Description of website")
		meta(name="keywords" content="Website")

		<!-- Roboto FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")


		<!-- Slick SLIDER -->
		link(rel="stylesheet" href="css/slick/slick-theme.css")
		link(rel="stylesheet" href="css/slick/slick.css")
		<!-- Slick SLIDER -->

		<!-- airDatapicker -->
		link(rel="stylesheet" href="airDatapicker/air-datepicker.css")
		<!-- airDatapicker -->

		<!-- likely JS -->
		script(src="js/likely.js")
		link(rel="stylesheet" href="css/likely.css")


		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")

	body.page-add

		.popup__catalog
			.popup__content
				.popup__top.df.aic.jcsb
					h2 Категорії
					.popup__close
						img(src="img/close.svg" alt="Ico")
				ul
					li
						a(href="#") Нові магазини
					li
						a(href="#") Всі категорії
					li
						a(href="#") Спортивні товари
					li
						a(href="#") Товари для колекціонерів
					li
						a(href="#") Нові магазини
					li
						a(href="#") Нові магазини
					li
						a(href="#") Всі категорії
					li
						a(href="#") Спортивні товари
					li
						a(href="#") Товари для колекціонерів
					li
						a(href="#") Нові магазини
					li
						a(href="#") Нові магазини
					li
						a(href="#") Всі категорії
					li
						a(href="#") Спортивні товари
					li
						a(href="#") Товари для колекціонерів
					li
						a(href="#") Нові магазини
					li
						a(href="#") Нові магазини
					li
						a(href="#") Всі категорії
					li
						a(href="#") Спортивні товари
					li
						a(href="#") Товари для колекціонерів
					li
						a(href="#") Нові магазини

		header.header
			.wrapper
				a(href="#").header__logo
					img(src="img/logo.svg" alt="Logo")
				button.header__catalog
					.lines
						.line
						.line
						.line
					span Каталог
				.header__shops
					span Магазины
				.header__types
					a(href="client-account.html").type_clients.type_active
						span Клиентам
					a(href="customer-my-products.html").type_customers
						span Продавцам
					//- a(href="partner-structure.html").type_partners
						span Партнерам
				.header__search
					input(placeholder="Поиск")
					img(src="img/search.svg" alt="Ico")
				.header__persone
					img(src="img/persone.svg" alt="Ico")
					span Имя Фамилия и полнотстью текст
					.arrow
						img(src="img/arr.svg" alt="Ico")
				.header__flag
					img(src="img/ico-flag-rus.svg" alt="Ico")
				.header__buttons
					a(href="#")
						img(src="img/search-black.svg" alt="Ico")
					a(href="#")
						img(src="img/heart.svg" alt="Ico")
					a(href="client-basket.html")
						img(src="img/cart.svg" alt="Ico")

		header.header-bottom.w100
			ul.df.aic.jcsb.w100
				li.header-home
					a(href="#")
						img(src="img/home.svg" alt="Ico")
				li.header-search
					a(href="#")
						img(src="img/search-black.svg" alt="Ico")
					form(action="#").search-input
						.df.aic.jcsb
							input(type="text")
							button(type="submit")
								img(src="img/search.svg" alt="Ico")
				li.header-heart
					a(href="#")
						img(src="img/heart.svg" alt="Ico")
				li.header-cart
					a(href="client-basket.html")
						img(src="img/cart.svg" alt="Ico")




		
		block content
































			