.pagination.df.aic
	a(href="#").pagination__link.pagination__prev
		img(src="img/pagination-prev.svg" alt="Prev")
	a(href="#").pagination__link.pagination__num.pagination_current 1
	a(href="#").pagination__link.pagination__num 2
	a(href="#").pagination__link.pagination__num 3
	a(href="#").pagination__link.pagination__num 4
	a(href="#").pagination__link.pagination__num 5
	span ...
	a(href="#").pagination__link.pagination__num 29
	a(href="#").pagination__link.pagination__next
		img(src="img/pagination-next.svg" alt="Next")