.page-shop {
    overflow: hidden;

    display: grid;
    grid-template-columns: 285px auto;

    min-height: 100%;

    & .breadcrumbs {
        grid-column: 1/3;
    }

    // .page-shop__info

    &__info {
        grid-column: 1/3;

        display: grid;
        grid-template-columns: 109px auto;

        padding-bottom: 16px; margin-bottom: 16px;
        border-bottom: 1px solid #ddd;

        // .page-shop__info--image

        &--image {
            grid-column: 1/1; grid-row: 1/3;
            & img {
                width: 87px;
                object-fit: contain;
            }
        }

        // .page-shop__info--title

        &--title {
            font-weight: 500;
            font-size: 26px;

            grid-column: 2/2;
            align-self: center;
        }

        // .page-shop__info--text

        &--text {
            padding-top: 16px;
            line-height: 150%;

            grid-column: 2/2;
        }

        // .page-shop__info--params

        &--params {
            grid-column: 2/2;

            display: flex;
            flex-wrap: wrap;

            padding-top: 17px;
            margin: -12px;

            & > * {
                padding: 12px;

                & span {
                    color: #777777;
                }
                & b {
                    padding-left: 2px;
                    font-weight: 400;
                }
            }
        }

        // .page-shop__info--link

        &--link {
            grid-column: 2/2;

            margin-top: 15px;

            justify-self: start;
        }
    }

    // .page-shop__list

    &__list {
        position: relative;

        padding-left: 40px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & > * {
            width: calc(100% - 20px);
        }
    }

    // .page-shop__not-found

    &__not-found {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%,-50%);

        max-width: 530px;

        font-weight: 500;
        font-size: 26px;
        text-align: center;
        color: #777;
    }

    // .page-shop__share-popup

    &__share-popup {

        // .page-shop__share-popup--wrapper

        &--wrapper {
            
        }

        // .page-shop__share-popup--bg

        &--bg {
        }

        // .page-shop__share-popup--body

        &--body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // .page-shop__share-popup--close-btn

        &--close-btn {
        }

        // .page-shop__share-popup--logo

        &--logo {
        }

        // .page-shop__share-popup--link

        &--link {
            display: block;
            text-align: center;

            margin-top: 20px;

            text-decoration: underline;
            font-size: 14px;
            color: #30c3fa;
            &:hover {
                color: #30c3fa;
            }
        }

        // .page-shop__share-popup--qr-code

        &--qr-code {
            margin-top: 20px;
        }

        // .page-shop__share-popup--list

        &--list {
            margin: -4px 0; padding-top: 20px;

            display: flex;
            flex-direction: column;
            
        }

        // .page-shop__share-popup--btn

        &--btn {
            margin: 4px 0;
            padding: 8px 10px;
            border-radius: 8px;
            border: 1px solid #48d739;
            color: #48d739;
            background: transparent;
            text-align: center;

            transition: color .2s ease-in-out, background .2s ease-in-out;
            &:hover {
                color: #fff;
                background: #48d739;
            }
        }
    }

    
}

.aside-filter {

    position: static;
    left: 0; top: 0;

    display: flex;
    flex-direction: column;

    margin-top: -4px;
    padding: 0;

    background: #fff;
    overflow-y: visible;

    // .aside-filter__header

    &__header {
        display: none;
        justify-content: space-between;
        align-items: center;

        &--title {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
        }

        &--close {
            width: 30px; height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

        }
    }

    // .aside-filter__fieldset

    &__fieldset {
        padding: 4px 0;
        border: 0;
    }

    // .aside-filter__title

    &__title {
        font-weight: 500;
        font-size: 14px;

        margin-bottom: 8px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    // .aside-filter__category

    &__category {

        height: 120px;

        // .aside-filter__category--item

        &--item {
            font-size: 14px;
        }

        // .aside-filter__category--label

        &--label {
        }

        // .aside-filter__category--input

        &--input {
        }
    }

    // .aside-filter__range

    &__range {

        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 0 1 50%;
        }

        // .aside-filter__range--min

        &--min {
        }

        &--value {
            font-size: 12px;
            line-height: 15px;
            color: #161616;
        }

        // .aside-filter__range--text

        &--text {
            padding: 11px 16px;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #161616;
            border: 1px solid #ddd;

            width: 100%;
        }

        // .aside-filter__range--wrapper

        &--wrapper {
            position: relative;
            height: 20px; width: 100%;

            &.noUi-target {
                border-radius: 0;
                border: 0;
                box-shadow: none;
            }

            &.noUi-horizontal {
                height: 2px;

                & .noUi-handle {
                    border-radius: 50%;
                    box-shadow: none;
                    border: 0;
    
                    cursor: grab;
    
                    width: 14px; height: 14px;
                    background: #161616;

                    transform: translate(-50%, 0);
    
                    &::before, &::after {
                        display: none;
                    }
                }
            }

            & .noUi-connects {
                background: #777;
            }

            & .noUi-connect {
                background: #161616;
            }
            
        }

        // .aside-filter__range--input

        &--input {
            position: absolute;
            left: 0; top: 0;
            opacity: 0; visibility: hidden;
        }

        // .aside-filter__range--max

        &--max {
        }

        // .aside-filter__range--full

        &--full {
            padding-top: 8px;

            flex: 1 1 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        // .aside-filter__range--label

        &--label {
            width: 100%; flex: 1 1 100%;
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        border-radius: 0;
    }

    &__select {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 10px; top: 50%;
            transform: translate(0,-50%);
            width: 5px; height: 5px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 4'%3E%3Cg id='noun_triangle_2692142' transform='translate(5 4) rotate(180)'%3E%3Cpath id='Контур_4330' data-name='Контур 4330' d='M4.616,3.615H0L2.309,0Z' transform='translate(0.19 0.194)' fill='%231a1a1a'/%3E%3Cg id='Сгруппировать_4290' data-name='Сгруппировать 4290' transform='translate(0)'%3E%3Cpath id='Контур_4331' data-name='Контур 4331' d='M4.822,3.675H.749c-.187,0-.378-.01-.565,0H.175l.153.242L.56,3.551l.555-.879.672-1.063q.29-.458.578-.915c.094-.149.2-.295.283-.448l0-.006H2.346l.231.366.555.879L3.8,2.548q.29.458.578.915c.094.149.184.3.283.448l0,.006a.191.191,0,0,0,.242.058.155.155,0,0,0,.064-.22l-.231-.366L4.187,2.51,3.515,1.447Q3.226.989,2.937.532C2.843.383,2.753.23,2.654.084l0-.006a.188.188,0,0,0-.305,0L2.115.444l-.555.879L.888,2.386Q.6,2.844.31,3.3c-.094.149-.193.3-.283.448l0,.006A.163.163,0,0,0,.177,4H4.249c.188,0,.377.005.565,0h.008A.171.171,0,0,0,5,3.837.175.175,0,0,0,4.822,3.675Z' fill='%231a1a1a'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
            center / contain no-repeat;
            pointer-events: none;
        }

        &--elem {
            width: 100%;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 8px;
            cursor: pointer;
            outline: none;
            -webkit-appearance: none;

           
        }
    }

    // .aside-filter__submit

    &__submit {
        margin-top: 16px;

        text-align: center;
        width: 100%;
        padding: 10px;
        border-radius: 8px;

        background: #48d739;
        color: #fff;
        transition: background .2s ease-in-out;
        &:hover {
            background: #89ff7c;
        }
    }

    &__reset {
        margin-top: 5px;

        width: 100%;
        padding: 10px;
        font-size: 14px;
        color: #777;

    }
}

.aside-filter-open {
    display: none;
    align-items: center;

    font-size: 12px;
    color: #48d739;
    background: transparent;

    & span {
        text-decoration: underline;
    }

    & svg {
        margin-left: 8px;   
    }
}
