extends includes/header.pug

block content

	.wrapper.df
		include includes/aside-client.pug
		main.w100.client-info
			.breadcrumbs
				a(href="#")
					span Главная
				a(href="#")
					span Клиентам
				span Счет CU

			button.menu-mob.df.aic
				img(src="img/menu-mob-dots.svg" alt="Dots")
				span Меню для клиента


			.main__top

				h1 Информация о площадке

				p
					b READY TO BUY - КОНЦЕПТУАЛЬНО НОВАЯ ТОРГОВАЯ ПЛОЩАДКА, ОРИЕНТИРОВАННАЯ НА РАБОТУ С МАЛЫМ И СРЕДНИМ БИЗНЕСОМ.
				br
				p Это означает, что, покупая товары и услуги на нашей платформе, в большинстве случаев, Вы будете приобретатьих напрямую у владельца бизнеса и производителя, что, зачастую, делает покупки более выгодными.

			.client-info__text-1

				h2 Преимущества для покупателей
				p Доводилось ли Вам слышать истории о том, как люди заказывали на он-лайн площадках ковры в гостиную, а получали коврики для мышки, а одежда и обувь, купленные в интернете, вообще не соответствовали картинке? На Ready to Buy эти риски минимизированы, так как продавец напрямую заинтересован в успешной сделке, после которой клиент, возможно, совершит повторные покупки в будущем.
				br
				p Более того, на нашей площадке выстроена постоянная система коммуникаций между продавцами, партнерами площадки и клиентами, в которой репутация продавца играет важную роль в привлечении клиентов.
				br
				p В настоящее время наша платформа имеет представителей в более чем ста странах (количество стран постоянно растёт, точную цифру можете уточнить у партнёра площадки). 
				br
				p Таким образом на площадке появляются магазины и продавцы, у которых Вы можете приобрести товары и услуги местных производителей, дизайнеров, ремесленников из разных стран. Количество продавцов и магазинов на площадке постоянно растёт, так же, как и ассортимент предлагаемых товаров и услуг.

			.client-info__text-2

				h2 Партнёры площадки
				p Ready to buy обладает уникальной системой внутренних единиц CU (Customer Units), которая позволяет совершать покупки на более выгодных условиях. Курс CU растёт в соответствии с увеличением числа клиентов на площадке: чем больше зарегистрированных пользователей, тем выгоднее могут быть Ваши покупки.
				br
				p Также на платформе работает система реферальных приглашений. Приглашая Ваших знакомых стать клиентами Ready to Buy, Вы можете сделать Ваши собственные покупки ещё более выгодными.
				br
				p Узнать больше об этой системе Вы можете зарегистрировавшись на сайте или задав вопросы партнеру площадки, пригласившему вас на платформу.

			a(href="#").btn-full Каталог




			

	.popup.popup__account-link
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 О внутренней системе клиентских единиц (Customer Unit - CU)
			p В данном разделе Вы можете посмотреть: <br /><br />- курс CU на сегодняшний день <br />- состояние Вашего персонального счета в долларах <br />- состояние счета CU в долларах.
			p Пополнить свой личный кошелек с помощью денег на Вашем персональном счете, Вы можете выбрав сумму в долларах и нажав кнопку Обновить. Вы сразу же сможете увидеть, какое количество CU будет добавлено в Ваш кошелек с учетом курса.<br /><br />В первой таблице на этой странице Вы можете видеть все движения по счету. Если Вам нужно посмотреть движения по счету за какой-то определенный период, необходимо установить даты интересующего периода в фильтре, который находится сверху таблицы, и нажать кнопку «Установить фильтр». Если вы хотите снова видеть все данные в таблице, необходимо нажать кнопку «Сбросить фильтр».<br /><br />При желании данные таблицы Вы можете загрузить к себе на компьютер в форматах PDF и XLS.
			button.popup__button.popup__close.bdrs8 Закрыть

	include includes/footer.pug



























	