extends includes/header.pug

block content

	.wrapper.df
		include includes/aside-client.pug
		main.w100.client-main
			.main__top
				.breadcrumbs
					a(href="#")
						span Главная
					a(href="#")
						span Клиентам
					span Счет CU

				button.menu-mob.df.aic
					img(src="img/menu-mob-dots.svg" alt="Dots")
					span Меню для клиента

				h1 Бэк-офис клиента
				a(href="#" data-popup="account-link").link Информация о разделе «Бэк-офис клиента»

			.customer-main__block

				.customer-main__item

					.item__top.df.aifs.jcsb

						h3.item__title
							span 1. Заполнить <br />личные данные
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-1.svg" alt="Ico")

					.item__center
						span.item__span Ваши данные:
						p Иванов Иван Иванович
						p ID 8472655

					.item__bottom
						a(href="#").df.aic
							span Отредактировать
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 2. Заполнить мои <br />адреса
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-12.svg" alt="Ico")

					.item__center
						span.item__span Последний адрес :
						p На текущий момент Вы не заполнили адреса

					.item__bottom
						a(href="#").df.aic
							span Отредактировать или добавить
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 3. Посмотреть <br />личный счет
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-5.svg" alt="Ico")

					.item__center
						span.item__span В данном разделе Вы найдёте:
						ul
							li
								p
									span Курс CU: $758,46

					.item__bottom
						a(href="#").df.aic
							span Перейти в раздел
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 4. Счет CU
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-13.svg" alt="Ico")

					.item__center
						span.item__span В данном разделе Вы найдёте:
						
						ul
							li Счет CU: $3 446,95
							li
								p
									span Курс CU: $758,46

					.item__bottom
						a(href="#").df.aic
							span Пополнить счет CU
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 5. Как покупать <br />на площадке
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-3.svg" alt="Ico")

					.item__center
						span.item__span В данном разделе Вы найдёте:

						ul
							li Преимущества Ready to Buy
							li Информацию о партнёрах площадки

					.item__bottom
						a(href="#").df.aic
							span Перейти в раздел
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 6. Посмотреть <br />мои покупки
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-14.svg" alt="Ico")

					.item__center
						span.item__span Товаров:

						.status.df.aic.jcsb
							a(href="#").status__item.status__item_good 10 куплено
							a(href="#").status__item.status__item_delivering 1 в доставке
							a(href="#").status__item.status__item_delivered 0 доставленных

					.item__bottom
						a(href="#").df.aic
							span Мои покупки
							img(src="img/arr-right-green.svg" alt="Arr")

				.customer-main__item.customer-main__item_empty

					.item__top.df.aifs.jcsb

						h3.item__title
							span 7. Перейти в каталог
							img(src="img/green-check-circle.svg" alt="Check")
						.item__ico
							img(src="img/main-card-ico-8.svg" alt="Ico")

					.item__center
						span.item__span Вы сможете:

						p Перейти в полный каталог товаров

					.item__bottom
						a(href="#").df.aic
							span Мои товары
							img(src="img/arr-right-green.svg" alt="Arr")



			

	.popup.popup__account-link
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 О внутренней системе клиентских единиц (Customer Unit - CU)
			p В данном разделе Вы можете посмотреть: <br /><br />- курс CU на сегодняшний день <br />- состояние Вашего персонального счета в долларах <br />- состояние счета CU в долларах.
			p Пополнить свой личный кошелек с помощью денег на Вашем персональном счете, Вы можете выбрав сумму в долларах и нажав кнопку Обновить. Вы сразу же сможете увидеть, какое количество CU будет добавлено в Ваш кошелек с учетом курса.<br /><br />В первой таблице на этой странице Вы можете видеть все движения по счету. Если Вам нужно посмотреть движения по счету за какой-то определенный период, необходимо установить даты интересующего периода в фильтре, который находится сверху таблицы, и нажать кнопку «Установить фильтр». Если вы хотите снова видеть все данные в таблице, необходимо нажать кнопку «Сбросить фильтр».<br /><br />При желании данные таблицы Вы можете загрузить к себе на компьютер в форматах PDF и XLS.
			button.popup__button.popup__close.bdrs8 Закрыть

	include includes/footer.pug



























	