extends includes/header.pug

block content

	.wrapper.df
		include includes/aside-customer.pug
		main.w100.customer-info
			.main__top
				.breadcrumbs
					a(href="#")
						span Главная
					a(href="#")
						span Продавцам
					a(href="#")
						span  Мои товары
					span Добавить товар

				button.menu-mob.df.aic
					img(src="img/menu-mob-dots.svg" alt="Dots")
					span Меню для клиента

				h1 Информация о площадке
				p Если Вы хотите разместить на нашей площадке Ваш товар или услугу, в этом разделе Вы найдете полезную информацию о преимуществах Ready to Buy, а также некоторые рекомендации по размещению товара на продажу.

			h2 Настройки склада

			.customer-info__block

				h2 Преимущества для продавцов
				p В первую очередь, Ready to Buy отличается от других похожих торговых площадок тем, что предоставляет продавцу не только потенциальных клиентов, но и партнеров площадки*, которые могут продвигать Ваш товар.
				br
				p На нашей платформе Вы можете не делать дополнительную рекламу. Вам достаточно заинтересовать партнеров площадки, и тогда они смогут продвигать Ваши товары или услуги за вас.
				br
				p Партнер площадки заинтересован, так как получает комиссионные с продаж согласно маркетинг плану. Вы сами определяете процент комиссионных, который готовы заплатить в качестве вознаграждения за продажу Ваших товаров или услуг.

			b Когда Вы будете заполнять форму, чтобы выставить товар на продажу, Вам нужно будет указать цену:

			ul
				li.df.aic
					.ico ₾
					span в Ларри -сумму, которую Вы получите от клиента
				//- li.df.aic
					.ico CU
					span в CU (Customer Units- внутренняя единица потребления) - комиссионные за продажу Вашего товара или услуги

			//- .customer-info__block-inputs.df.jcc

				label
					span.label-title Цена в долларах <br /> (сумма, которую получит продавец)
					input(type="text" placeholder="0")
				label
					span.label-title Цена в CU <br /> (комиссионные)
					input(type="text" placeholder="0")
				label
					span.label-title Полная стоимость <br /> (общая стоимость продукта на сайте)
					input(type="text" value="$0" disabled)

			p Соответственно, чем больше сумму в CU Вы укажете, тем больше партнер площадки будет заинтересован в продаже этого товара и тем активнее он будет его продвигать. Чем больше комиссионных Вы предложите, тем больше внимания партнеров площадки Вы привлечете, а следовательно получите больше потенциальных клиентов.
			br
			p В любом случае, Вы ничем не рискуете и не платите за этот сервис ровно до того момента, пока кто-то не продаст Ваш товар. Если товар продан, Вы заплатите комиссионные, которые сами установили.
			br
			h2 Заголовок

			p Пользоваться Личным Кабинетом, а также добавлять товары и отправлять их на модерацию Вы можете сразу после прохождения бесплатной регистрации. Однако, для того чтобы Ваши товары или услуги появились в Каталоге и стали доступными для покупок, Вам необходимо пополнить приобрести один из «Пакетов продавца».
			br
			p Приобрести один из «Пакетов продавца», а также посмотреть описания всех пакетов Вы можете в разделе меню 
				a(href="#").launch
					span «Пакеты продавца»
					img(src="img/launch.svg" alt="Ico")
			br
			p Чтобы выставить Ваш товар или услугу на продажу, перейдите в раздел «Мои Товары» или пройдите 
				a(href="#").launch
					span по ссылке
					img(src="img/launch.svg" alt="Ico")
			br
			p Ниже Вы можете посмотреть рекомендации по заполнению необходимой формы для выставления товара на площадку.

			.green-block.df
				img(src="img/result.svg" alt="Ico")
				span Рекомендации по заполнению формы для выставления товара на площадку

			small *Партнер площадки - человек, который занимается продвижением площадки и размещенных на ней товаров (на свой выбор). Партнер приглашает на площадку как клиентов, так и других продавцов. За свою работу партнёр площадки получает комиссионные в соответствии с маркетинг планом, указанном в разделе Партнерам.


	.popup.popup__no-to-edit
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 Редактирование адреса невозможно
			p На текущий момент есть N невыполненная продажа. <br />Редактирование адреса станет вновь возможна после выполнения продажи.
			button.btn-grey-bd.popup__close Закрыть

	.popup.popup__delete-address
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 Удаление адреса
			.popup__product
				b Товар (силами продавца) 
				p Россия, г Москва, ул 6-ая Кожуховская 15/2
			p Вы действительно хотите удалить данный адрес отгрузки?
			.df.aic.jcsb
				button.btn-grey-bd.w100.popup__close Закрыть
				button.btn-grey-full.w100 Удалить адрес

	.popup.popup__account-link
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 О внутренней системе клиентских единиц (Customer Unit - CU)
			p В данном разделе Вы можете посмотреть: <br /><br />- курс CU на сегодняшний день <br />- состояние Вашего персонального счета в долларах <br />- состояние счета CU в долларах.
			p Пополнить свой личный кошелек с помощью денег на Вашем персональном счете, Вы можете выбрав сумму в долларах и нажав кнопку Обновить. Вы сразу же сможете увидеть, какое количество CU будет добавлено в Ваш кошелек с учетом курса.<br /><br />В первой таблице на этой странице Вы можете видеть все движения по счету. Если Вам нужно посмотреть движения по счету за какой-то определенный период, необходимо установить даты интересующего периода в фильтре, который находится сверху таблицы, и нажать кнопку «Установить фильтр». Если вы хотите снова видеть все данные в таблице, необходимо нажать кнопку «Сбросить фильтр».<br /><br />При желании данные таблицы Вы можете загрузить к себе на компьютер в форматах PDF и XLS.
			button.popup__button.popup__close.bdrs8 Закрыть

	include includes/footer.pug



























	