extends includes/header.pug

block content

	.wrapper.df
		include includes/aside-customer.pug
		main.w100.customer-tarifs
			.main__top
				.breadcrumbs
					a(href="#")
						span Главная
					a(href="#")
						span Продавцам
					a(href="#")
						span  Мои товары
					span Добавить товар

				button.menu-mob.df.aic
					img(src="img/menu-mob-dots.svg" alt="Dots")
					span Меню для клиента

				h1 Пакеты продавца
				a(href="#" data-popup="account-link").link Информация о разделе «Пакеты продавца»


			.customer-tarifs__block.df

				.customer-tarifs__left

					h2 Выберите пакета продавца

					.label.select-cash
						span.label-title Пакет продавца
						.label-bottom.df
							.select.bdrs8
								input(type="hidden")
								.select__head.df.aic.jcsb
									.select__current Выберите из списка шаблонов
									img(src="img/triangle.svg" alt="Ico")
								.select__body
									.select__item Выберите из списка шаблонов
									.select__item Выберите из списка шаблонов1
									.select__item Выберите из списка шаблонов2

					//- label
						span.label-title Сумма оплаты с персонального счета
						input(type="text" placeholder="100").w100
						span.label-title Но не более $50

					button(data-popup="cash-ok").bdrs8.btn-full.w100 Купить

				.customer-tarifs__right.bdrs8

					h2 Описание пакетов продавца:

					.customer-tarifs__info

						.tarifs__tabs.df
							.tab.tab_active Пакет 100
							.tab Пакет 300
							.tab Пакет 500

						.tarifs__block

							.tarifs__item.tarifs__item_active

								h3.item__title Пакет Продавца 100 дает:

								ul
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;
									li подарочную ссылку, которая активна 10 дней, с возможностью продлить ее посредством подписания партнера в первую линию.

							.tarifs__item

								h3.item__title Пакет Продавца 300 дает:

								ul
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;

							.tarifs__item

								h3.item__title Пакет Продавца 500 дает:

								ul
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;
									li подарочную ссылку, которая активна 10 дней, с возможностью продлить ее посредством подписания партнера в первую линию.
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;
									li подарочную ссылку, которая активна 10 дней, с возможностью продлить ее посредством подписания партнера в первую линию.
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;
									li подарочную ссылку, которая активна 10 дней, с возможностью продлить ее посредством подписания партнера в первую линию.
									li возможность продавать на торговой площадке свои товары или услуги;
									li статус Партнера и возможность зарабатывать по маркетинг плану;
									li подарочную ссылку, которая активна 10 дней, с возможностью продлить ее посредством подписания партнера в первую линию.

			.table-ovf
				table.w100
					thead
						tr
							td Заказ
							td Дата
							td Пакет
							td Сумма
							td Статус
							td
					tbody
						tr
							td 182357
							td 05.10.2021
							td Пакет продавца 500
							td $500
							td Не оплачен
							td
								button.my-order__info-order.df.aic.bdrs8
									span Информация о заказе
									img(src="img/document.svg" alt="Ico")

			include includes/pagination.pug







	.popup.popup__cash-ok
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 Валюта продавца
			p Валютой продавца был выбран Российский рубль (RUB).
			p Информация сохранена.
			button.btn-grey-full.popup__close.bdrs8 Закрыть

	.popup.popup__account-link
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 О внутренней системе клиентских единиц (Customer Unit - CU)
			p В данном разделе Вы можете посмотреть: <br /><br />- курс CU на сегодняшний день <br />- состояние Вашего персонального счета в долларах <br />- состояние счета CU в долларах.
			p Пополнить свой личный кошелек с помощью денег на Вашем персональном счете, Вы можете выбрав сумму в долларах и нажав кнопку Обновить. Вы сразу же сможете увидеть, какое количество CU будет добавлено в Ваш кошелек с учетом курса.<br /><br />В первой таблице на этой странице Вы можете видеть все движения по счету. Если Вам нужно посмотреть движения по счету за какой-то определенный период, необходимо установить даты интересующего периода в фильтре, который находится сверху таблицы, и нажать кнопку «Установить фильтр». Если вы хотите снова видеть все данные в таблице, необходимо нажать кнопку «Сбросить фильтр».<br /><br />При желании данные таблицы Вы можете загрузить к себе на компьютер в форматах PDF и XLS.
			button.popup__button.popup__close.bdrs8 Закрыть

	include includes/footer.pug



























	