extends includes/header.pug

block content

	.wrapper.df
		include includes/aside-client.pug
		main.w100.client-marketing
			.main__top
				.breadcrumbs
					a(href="#")
						span Главная
					a(href="#")
						span Клиентам
					span Счет CU

				button.menu-mob.df.aic
					img(src="img/menu-mob-dots.svg" alt="Dots")
					span Меню для клиента

				h1 Маркетинг план
				a(href="#" data-popup="account-link").link О внутренней системе клиентских единиц (Customer Unit - CU)

			p Вы уже сделали первый шаг к сотрудничеству с площадкой Ready to Buy. Зарегистрировавшись, Вы получили доступ к Вашему Личному Кабинету. Теперь Вы можете приглашать и регистрировать партнеров, клиентов и продавцов по своей реферальной ссылке.

			h2 Личная Активность

			p Чтобы являться активным партером и получать выплаты комиссионных в соответсвии с маркетинг планом, Вам нужно иметь ежемесячную личную активность.

			b Получить активность вы можете 2 способами:

			.client-marketing__ways.df.aic
				ol
					li сделав личную покупку на свой логин на сумму 100 долларов США за текущий период


				span или

				ol(data-count="2")
					li подписав в первую линию человека с оплатой на 500 долларов США (считается только единоразовая оплата)

			h2 Товарооборот (ТО)

			.green-block Из чего состоит товарооборот?

			p Для совершения покупок на площадке пользователям необходимо иметь средства на счете CU. Все пополнения счета CU в Вашей сети идут в Ваш товарооборот. Также, все оплаты за покупки товаров компании идут в товарооборот.

			.client-marketing__var.df
				.client-marketing__block
					h3 Комиссионные
					b За товарооборот в Вашей сети Вы будете получать комиссионные согласно маркетинг плану. 
					ul
						li Выплаты комиссионных происходят с учетом ежемесячной динамической компрессии
						li При начислении комиссионных к объемам применяется коэффициент 0,7 (1 доллар США равен 0,7 балла).
						li Комиссионные рассчитываются и начисляются ежемесячно.
					p Ниже вы можете ознакомиться с описанием маркетинг плана и квалификаций.
				.client-marketing__block
					h3 Линейный Бонус 
					b При условии личной активности Вы будете получать выплаты с первых пяти линий с учетом динамической компрессии:
					ul
						li 1 линия - 10%
						li 2 линия - 10%
						li 3 линия - 10%
						li 4 линия - 5%
						li 5 линия - 5%
					p Если в первой линии у Вас есть 3 активных партнера, Вы также будете получать дополнительный бонус 5% с 6 линии.

			h2 Квалификации

			.client-marketing__qualify.df.aic
				.qualify__item Клуб 5%
				.qualify__item Клуб 10%
				.qualify__item Клуб 15%
				.qualify__item.qualify__item_active Клуб 20%

			.client-marketing__qualify-blocks
				.qualify-blocks__block
					p Став членом Клуба 5%, плюсом к выплатам за участие в Клубе 5%, в Клубе 10% и в Клубе 15% Вы также получите выплату за участие в Клубе 5%. 
					p В Клубе 5% Вы будете делить 5% от товарооборота компании с такими же участниками клуба как и Вы. 
					p 5% будут ежемесячно делиться между членами клуба пропорционально в соотношении товарооборота партнера к товарообороту компании.

					b Чтобы стать участником Клуба 5%, Вам необходимо выполнить 2 условия:

					ol
						li Совершить товарооборот 250 000 долларов США:

					.table-info
						.table-info__item в старшей ветке учитывается не более 125 000 долларов США
						.table-info__item во второй ветке учитывается не более 50 000 долларов США
						.table-info__item в третьей ветке учитывается не более 50 000 долларов США

					ol(data-count="2")
						li Вышеуказанный товарооборот должен быть совершён в 4 ветках 
				.qualify-blocks__block
					p Став членом Клуба 10%, плюсом к выплатам за участие в Клубе 5%, в Клубе 10% и в Клубе 15% Вы также получите выплату за участие в Клубе 10%. 
					p В Клубе 10% Вы будете делить 5% от товарооборота компании с такими же участниками клуба как и Вы. 
					p 5% будут ежемесячно делиться между членами клуба пропорционально в соотношении товарооборота партнера к товарообороту компании.

					b Чтобы стать участником Клуба 10%, Вам необходимо выполнить 2 условия:

					ol
						li Совершить товарооборот 250 000 долларов США:

					.table-info
						.table-info__item в старшей ветке учитывается не более 125 000 долларов США
						.table-info__item во второй ветке учитывается не более 50 000 долларов США
						.table-info__item в третьей ветке учитывается не более 50 000 долларов США

					ol(data-count="2")
						li Вышеуказанный товарооборот должен быть совершён в 4 ветках 
				.qualify-blocks__block
					p Став членом Клуба 15%, плюсом к выплатам за участие в Клубе 5%, в Клубе 10% и в Клубе 15% Вы также получите выплату за участие в Клубе 15%. 
					p В Клубе 15% Вы будете делить 5% от товарооборота компании с такими же участниками клуба как и Вы. 
					p 5% будут ежемесячно делиться между членами клуба пропорционально в соотношении товарооборота партнера к товарообороту компании.

					b Чтобы стать участником Клуба 15%, Вам необходимо выполнить 2 условия:

					ol
						li Совершить товарооборот 250 000 долларов США:

					.table-info
						.table-info__item в старшей ветке учитывается не более 125 000 долларов США
						.table-info__item во второй ветке учитывается не более 50 000 долларов США
						.table-info__item в третьей ветке учитывается не более 50 000 долларов США

					ol(data-count="2")
						li Вышеуказанный товарооборот должен быть совершён в 4 ветках 
				.qualify-blocks__block.qualify-blocks__block_active
					p Став членом Клуба 20%, плюсом к выплатам за участие в Клубе 5%, в Клубе 10% и в Клубе 15% Вы также получите выплату за участие в Клубе 20%. 
					p В Клубе 20% Вы будете делить 5% от товарооборота компании с такими же участниками клуба как и Вы. 
					p 5% будут ежемесячно делиться между членами клуба пропорционально в соотношении товарооборота партнера к товарообороту компании.

					b Чтобы стать участником Клуба 20%, Вам необходимо выполнить 2 условия:

					ol
						li Совершить товарооборот 250 000 долларов США:

					.table-info
						.table-info__item в старшей ветке учитывается не более 125 000 долларов США
						.table-info__item во второй ветке учитывается не более 50 000 долларов США
						.table-info__item в третьей ветке учитывается не более 50 000 долларов США

					ol(data-count="2")
						li Вышеуказанный товарооборот должен быть совершён в 4 ветках 

			big Простые и понятные квалификации дают Вам возможность планировать Ваш карьерный рост, а значит и 
				span финансовое благосостояние! 








			

	.popup.popup__account-link
		.popup__bgd
		.popup__content
			.popup__cross.popup__close
				img(src="img/close.svg" alt="Ico")
			h2 О внутренней системе клиентских единиц (Customer Unit - CU)
			p В данном разделе Вы можете посмотреть: <br /><br />- курс CU на сегодняшний день <br />- состояние Вашего персонального счета в долларах <br />- состояние счета CU в долларах.
			p Пополнить свой личный кошелек с помощью денег на Вашем персональном счете, Вы можете выбрав сумму в долларах и нажав кнопку Обновить. Вы сразу же сможете увидеть, какое количество CU будет добавлено в Ваш кошелек с учетом курса.<br /><br />В первой таблице на этой странице Вы можете видеть все движения по счету. Если Вам нужно посмотреть движения по счету за какой-то определенный период, необходимо установить даты интересующего периода в фильтре, который находится сверху таблицы, и нажать кнопку «Установить фильтр». Если вы хотите снова видеть все данные в таблице, необходимо нажать кнопку «Сбросить фильтр».<br /><br />При желании данные таблицы Вы можете загрузить к себе на компьютер в форматах PDF и XLS.
			button.popup__button.popup__close.bdrs8 Закрыть

	include includes/footer.pug



























	