extends includes/header-add.pug

block content

	.wrapper.df
		//- include includes/aside-client.pug
		main.w100.page-login.page-recovery
			//- .breadcrumbs
				a(href="#")
					span Главная
				span Связь с Площадкой


			h1 Восстановление пароля


			p Вам на почту было отправлено письмо с новым паролем. <br />Пожалуйста, проверьте Вашу почту, указанную при регистрации.

			a(href="#").btn-full Войти

			

	include includes/footer.pug



























	